.wrapper {
  display: grid;
  place-items: center;
}

.squareWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  height: fit-content;
  border: 1px solid #cdcdcd;
}
