.wrapper {
  display: grid;
  place-items: center;
}

.squareWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  height: fit-content;
  border: 1px solid #cdcdcd;
}

.square {
  width: 150px;
  height: 150px;
  background-color: #212121;
  display: grid;
  place-content: center;
  border: 1px solid #cdcdcd;
}

.square:hover {
  cursor: pointer;
  background-color: #cdcdcd;
  color: #050505;
}

