.wrapper {
  font-size: 20px;
  padding: 10px 16px 10px 16px;
  background-color: #585858;
  color: #cdcdcd;
  place-items: center;
  margin-bottom: 16px;
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
}

.wrapperTransparent {
  background-color: transparent;
  border: none;
  border-radius: 0px;
}

.wrapperOutlined {
  border: 1px solid #cdcdcd;
  background-color: transparent;
}

.wrapper:active, .wrapper:focus {
  outline: none;
}

.wrapper:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #7a7a7a;
}

.wrapperTransparent:hover {
  background-color: transparent;
  color: #ffffff;
}

.wrapperOutlined:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

