html {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  /*background-image: url("/img/background.webp");*/
  /*background-size: cover;*/
  /*background-attachment: fixed;*/
  font-family: 'Montserrat', sans-serif;
  color: #cdcdcd;
  background-color: #000000;
}
