.wrapper {
  position: relative;
  display: grid;
  padding-top: 50px;
  padding-left: 70px;
}

.background {
  position: absolute;
  top: 0px;
  height: 100vh;
  width: -webkit-fill-available;
  background-image: url("/img/background.webp");
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  filter: blur(30px);
}